

 <div class="book_preload">
  <div class="book">
     <div class="book__page"></div>
     <div class="book__page"></div>
     <div class="book__page"></div>
  </div>
</div>
<!-- Slider with animation-->

<nav class="navbar-fixed-top navbar navbar-expand-lg navbar-dark fixed-top"  id="mainNav">
  <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <img src="../../assets/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                 <a class="nav-link js-scroll-trigger" href="#eduservices-home">Home</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#eduservices-why-choose-us">Services</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#eduservices-teacher">Teachers</a>
              </li>
              <li class="nav-item">
                   <a class="nav-link js-scroll-trigger" href="#eduservices-blog">Blog</a>
              </li>
              <li class="nav-item">
                   <a class="nav-link js-scroll-trigger" href="#eduservices-contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger"  [routerLink]="['/login']">Login</a>
             </li>
          </ul>
      </div>
  </div>
</nav>

<!--=================================================================================
                          Start Main Banner Area
==================================================================================-->
<div id="eduservices-home" class="main-banner main-banner-show">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div  style="margin-top: 50px;"  class="row">
                  <div class="col-lg-6 col-md-12 reveal-left-fade">
                    <div  class=" wow fadeInLeft" data-wow-delay=".5s" >
                      <div id="carouselExampleIndicators" class="carousel slide"
                      data-ride="carousel" style="height: 400px; ">
                        <ol style="margin-top: 530px;" class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        </ol>
                        <div style="color: white;" class="carousel-inner">
                          <div class="carousel-item active">
                             <h1  style="color: white;font-weight: bold;">A visually attractive and
                               effective Landing page
                              Lorem ipsum dolor sit amet
                             </h1>
                             <p style="color: white;  ">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt
                               ut labore et dolore magna aliqua. Quis ipsum
                               suspendisse ultrices gravida
                             </p>
                             <a style="margin-left: 300px; margin-top: 10px;" href="#eduservices-contact" class="btn">Start Learn Now</a>

                          </div>
                          <div style="color: white;" class="carousel-item">
                            <h1 style="color: white;font-weight: bold; " >A visually attractive and
                              effective Landing page
                             Lorem ipsum dolor sit amet
                            </h1>
                            <p style="color: white;">
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                             sed do eiusmod tempor incididunt
                              ut labore et dolore magna aliqua. Quis ipsum
                              suspendisse ultrices gravida
                            </p>
                            <a style="margin-left: 300px; margin-top: 10px;" href="#eduservices-contact" class="btn">Start Learn Now</a>

                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                  <div class="col-lg-5 col-md-12 reveal-right-fade wow fadeInRight" data-wow-delay=".5s">
                      <div class="hero-video">
                          <img   class="site-owner"
                          src="../../assets/teachers.png" alt="">


                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--=================================================================================
                          Start AboutUs Area
==================================================================================-->

<section id="eduservices-about-us" class="boxes-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
              <div class="single-box">
                  <i class="icofont-users-alt-3"></i>
                  <h3>WHO WE ARE</h3>
                  <p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
              <div class="single-box">
                  <i class="icofont-automation"></i>
                  <h3>OUR MISSION</h3>
                  <p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 wow fadeInUp" data-wow-delay=".6s">
              <div class="single-box">
                  <i class="icofont-children-care"></i>
                  <h3>OUR VISSION</h3>
                  <p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.</p>
              </div>
          </div>
      </div>
  </div>
</section>
 <!--=================================================================================
                                Start Courses Area
    ==================================================================================-->
    <section id="eduservices-course" class="courses-area ptb-100 bg-f9faff">
      <div class="container">
          <div class="section-title">
              <h2>Popular Courses</h2>
              <span>A modern and unique style</span>
          </div>
          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <div class="tab">
                      <ul class="tabs">
                          <li>
                              <a href="#">
                                  <i class="icofont-network"></i>
                                  <br> Networking
                              </a>
                          </li>

                          <li>
                              <a href="#"  >
                                  <i class="icofont-file-php"></i>
                                  <br> PHP
                              </a>
                          </li>

                          <li>
                              <a href="#">
                                  <i class="icofont-file-python"></i>
                                  <br> Python
                              </a>
                          </li>

                          <li>
                              <a href="#">
                                  <i class="icofont-brand-designfloat"></i>
                                  <br> Design
                              </a>
                          </li>

                          <li>
                              <a href="#">
                                  <i class="icofont-file-html5"></i>
                                  <br> HTML5/CSS3
                              </a>
                          </li>

                          <li>
                              <a href="#">
                                  <i class="icofont-ui-camera"></i>
                                  <br> Photography
                              </a>
                          </li>
                      </ul>

                      <div class="tab_content">
                          <div  class="tabs_item">
                              <div class="row">
                                  <div class="col-lg-6 col-md-12 reveal-left-fade">
                                      <div class="tabs_item_img">
                                          <img src="../../assets/course-img-1.jpg" alt="Course">
                                      </div>
                                  </div>

                                  <div class="col-lg-6 col-md-12 reveal-right-fade">
                                      <div class="tabs_item_content">
                                          <h3>Nural Networking</h3>
                                          <p>Hamburger pork beef shank turducken drumstick pork loin. Pork short ribs rump fatback capicola ham strip steak jowl filet mignon buffalo alcatra swine</p>
                                          <ul>
                                              <li>Pig swine prosciutto rump pork chop</li>
                                              <li>Tail spare ribs capicola flank shank</li>
                                              <li>24-hour Supports for any courses</li>
                                              <li>Beef ribs sirloin cupim frankfurter</li>
                                          </ul>
                                          <a href="#" class="btn">Start Learn Now</a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="tabs_item">
                              <div class="row">
                                  <div class="col-lg-6 col-md-12">
                                      <div class="tabs_item_img">
                                          <img src="../../assets/course-img-2.jpg" alt="Course">
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-12">
                                      <div class="tabs_item_content">
                                          <h3>Learning PHP</h3>
                                          <p>Hamburger pork beef shank turducken drumstick pork loin. Pork short ribs rump fatback capicola ham strip steak jowl filet mignon buffalo alcatra swine</p>
                                          <ul>
                                              <li>Pig swine prosciutto rump pork chop</li>
                                              <li>Tail spare ribs capicola flank shank</li>
                                              <li>24-hour Supports for any courses</li>
                                              <li>Beef ribs sirloin cupim frankfurter</li>
                                          </ul>
                                          <a href="#" class="btn">Start Learn Now</a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="tabs_item">
                              <div class="row">
                                  <div class="col-lg-6 col-md-12">
                                      <div class="tabs_item_img">
                                          <img src="../../assets/course-img-3.jpg" alt="Course">
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-12">
                                      <div class="tabs_item_content">
                                          <h3>Learning Python</h3>
                                          <p>Hamburger pork beef shank turducken drumstick pork loin. Pork short ribs rump fatback capicola ham strip steak jowl filet mignon buffalo alcatra swine</p>
                                          <ul>
                                              <li>Pig swine prosciutto rump pork chop</li>
                                              <li>Tail spare ribs capicola flank shank</li>
                                              <li>24-hour Supports for any courses</li>
                                              <li>Beef ribs sirloin cupim frankfurter</li>
                                          </ul>
                                          <a href="#" class="btn">Start Learn Now</a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="tabs_item">
                              <div class="row">
                                  <div class="col-lg-6 col-md-12">
                                      <div class="tabs_item_img">
                                          <img src="../../assets/course-img-4.jpg" alt="Course">
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-12">
                                      <div class="tabs_item_content">
                                          <h3>Creative Design</h3>
                                          <p>Hamburger pork beef shank turducken drumstick pork loin. Pork short ribs rump fatback capicola ham strip steak jowl filet mignon buffalo alcatra swine</p>
                                          <ul>
                                              <li>Pig swine prosciutto rump pork chop</li>
                                              <li>Tail spare ribs capicola flank shank</li>
                                              <li>24-hour Supports for any courses</li>
                                              <li>Beef ribs sirloin cupim frankfurter</li>
                                          </ul>
                                          <a href="#" class="btn">Start Learn Now</a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="tabs_item">
                              <div class="row">
                                  <div class="col-lg-6 col-md-12">
                                      <div class="tabs_item_img">
                                          <img src="../../assets/course-img-5.jpg" alt="Course">
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-12">
                                      <div class="tabs_item_content">
                                          <h3>HTML5/CSS3 Essentials</h3>
                                          <p>Hamburger pork beef shank turducken drumstick pork loin. Pork short ribs rump fatback capicola ham strip steak jowl filet mignon buffalo alcatra swine</p>
                                          <ul>
                                              <li>Pig swine prosciutto rump pork chop</li>
                                              <li>Tail spare ribs capicola flank shank</li>
                                              <li>24-hour Supports for any courses</li>
                                              <li>Beef ribs sirloin cupim frankfurter</li>
                                          </ul>
                                          <a href="#" class="btn">Start Learn Now</a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="tabs_item">
                              <div class="row">
                                  <div class="col-lg-6 col-md-12">
                                      <div class="tabs_item_img">
                                          <img src="../../assets/course-img-6.jpg" alt="Course">
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-12">
                                      <div class="tabs_item_content">
                                          <h3>Art of Photography</h3>
                                          <p>Hamburger pork beef shank turducken drumstick pork loin. Pork short ribs rump fatback capicola ham strip steak jowl filet mignon buffalo alcatra swine</p>
                                          <ul>
                                              <li>Pig swine prosciutto rump pork chop</li>
                                              <li>Tail spare ribs capicola flank shank</li>
                                              <li>24-hour Supports for any courses</li>
                                              <li>Beef ribs sirloin cupim frankfurter</li>
                                          </ul>
                                          <a href="#" class="btn">Start Learn Now</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End Courses Area -->

   <!--=================================================================================
            START WHY CHOOSE US
    ==================================================================================-->
    <section id="eduservices-why-choose-us" class="why-choose-us">
      <div class="why-choose-us-wrapper-top">
          <div class="container">
              <div class="section-title reveal-left-fade">
                  <!-- section-title -->
                  <h2>Why Choose Us</h2>
                  <p>Education can Change Your Life! So what are you waiting for? </p>
              </div>
          </div>
      </div>
      <div class="why-choose-us-wrapper-bottom background-opacity">
          <div class="container">
              <div class="why-choose-options wow fadeInUp">
                  <div class="row">
                      <!-- single item -->
                      <div class="col-lg-4 col-md-6">
                          <div class="single-choose">
                              <div class="single-choose-left ">
                                  <img src="../../assets/logo-top-1.png" alt="">
                              </div>
                              <div class="single-choose-right">
                                  <h3>Trending Courses & <br> Certified Courses</h3>
                              </div>
                          </div>
                      </div>
                      <!-- End single item -->
                      <div class="col-lg-4 col-md-6">
                          <div class="single-choose">
                              <div class="single-choose-left ">
                                  <img src="../../assets/logo-top-2.png" alt="">
                              </div>
                              <div class="single-choose-right">
                                  <h3>Books Liberary & <br> Online E-Books</h3>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                          <div class="single-choose">
                              <div class="single-choose-left ">
                                  <img src="../../assets/logo-top-3.png" alt="">
                              </div>
                              <div class="single-choose-right">
                                  <h3>Certified Teachers & <br>Guaranteed Career</h3>
                              </div>
                          </div>
                      </div>

                       <!-- single item -->
                       <div class="col-lg-4 col-md-6">
                        <div class="single-choose">
                            <div class="single-choose-left ">
                                <img src="../../assets/logo-top-1.png" alt="">
                            </div>
                            <div class="single-choose-right">
                                <h3>Trending Courses & <br> Certified Courses</h3>
                            </div>
                        </div>
                    </div>
                    <!-- End single item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose">
                            <div class="single-choose-left ">
                                <img src="../../assets/logo-top-2.png" alt="">
                            </div>
                            <div class="single-choose-right">
                                <h3>Books Liberary & <br> Online E-Books</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose">
                            <div class="single-choose-left ">
                                <img src="../../assets/logo-top-3.png" alt="">
                            </div>
                            <div class="single-choose-right">
                                <h3>Certified Teachers & <br>Guaranteed Career</h3>
                            </div>
                        </div>
                    </div>
                       <!-- single item -->
                       <div class="col-lg-4 col-md-6">
                        <div class="single-choose">
                            <div class="single-choose-left ">
                                <img src="../../assets/logo-top-1.png" alt="">
                            </div>
                            <div class="single-choose-right">
                                <h3>Trending Courses & <br> Certified Courses</h3>
                            </div>
                        </div>
                    </div>
                    <!-- End single item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose">
                            <div class="single-choose-left ">
                                <img src="../../assets/logo-top-2.png" alt="">
                            </div>
                            <div class="single-choose-right">
                                <h3>Books Liberary & <br> Online E-Books</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose">
                            <div class="single-choose-left ">
                                <img src="../../assets/logo-top-3.png" alt="">
                            </div>
                            <div class="single-choose-right">
                                <h3>Certified Teachers & <br>Guaranteed Career</h3>
                            </div>
                        </div>
                    </div>
                  </div>

              </div>
          </div>
      </div>
  </section>
  <!-- END WHY CHOOSE US -->
<!--=================================================================================
                                Start Our teacher
    ==================================================================================-->
    <section id="eduservices-teacher" class="teacher-inner teacher-color section ptb-100">
      <div class="container">
          <div class="section-title">
              <h2>Our Teachers</h2>
              <span>A modern and unique style</span>
          </div>
          <div class="row align-items-center teacher-img-text">
              <div class="col-lg-3 col-md-6 text-center wow flipInY">
                  <div class="teacher teacher-member">
                      <img src="../../assets/teacher-image-2.jpg" class="img-fluid" alt="teacher-member">
                      <div class="overlay">
                          <div class="text">
                              <div>
                                  <h3>Staven joy</h3>
                                  <p>Android app developer</p>
                              </div>
                              <div>
                                  <ul class="text-center">
                                      <li><i class="icofont-facebook"></i></li>
                                      <li><i class="icofont-twitter"></i></li>
                                      <li><i class="icofont-linkedin"></i></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center wow flipInY" data-wow-delay="0.2s">
                  <div class="teacher teacher-member">
                      <img src="../../assets/teacher-image-7.jpg" class="img-fluid" alt="teacher-member">
                      <div class="overlay">
                          <div class="text">
                              <div>
                                  <h3>Nadia Rui</h3>
                                  <p>Web developer</p>
                              </div>
                              <div>
                                  <ul class="text-center">
                                      <li><i class="icofont-facebook"></i></li>
                                      <li><i class="icofont-twitter"></i></li>
                                      <li><i class="icofont-linkedin"></i></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center wow flipInY" data-wow-delay="0.4s">
                  <div class="teacher teacher-member">
                      <img src="../../assets/teacher-image-3.jpg" class="img-fluid" alt="teacher-member">
                      <div class="overlay">
                          <div class="text">
                              <div>
                                  <h3>Staven joy</h3>
                                  <p>Android app developer</p>
                              </div>
                              <div>
                                  <ul class="text-center">
                                      <li><i class="icofont-facebook"></i></li>
                                      <li><i class="icofont-twitter"></i></li>
                                      <li><i class="icofont-linkedin"></i></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center wow flipInY" data-wow-delay="0.6s">
                  <div class="teacher teacher-member">
                      <img src="../../assets/teacher-image-4.jpg" class="img-fluid" alt="teacher-member">
                      <div class="overlay">
                          <div class="text">
                              <div>
                                  <h3>
                                      Nadia Rui</h3>
                                  <p>Graphic Designer</p>
                              </div>
                              <div>
                                  <ul class="text-center">
                                      <li><i class="icofont-facebook"></i></li>
                                      <li><i class="icofont-twitter"></i></li>
                                      <li><i class="icofont-linkedin"></i></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center wow flipInY" data-wow-delay="0.8s">
                  <div class="teacher teacher-member">
                      <img src="../../assets/teacher-image-5.jpg" class="img-fluid" alt="teacher-member">
                      <div class="overlay">
                          <div class="text">
                              <div>
                                  <h3>Staven joy</h3>
                                  <p>Android app developer</p>
                              </div>
                              <div>
                                  <ul class="text-center">
                                      <li><i class="icofont-facebook"></i></li>
                                      <li><i class="icofont-twitter"></i></li>
                                      <li><i class="icofont-linkedin"></i></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center wow flipInY" data-wow-delay="1s">
                  <div class="teacher teacher-member">
                      <img src="../../assets/teacher-image-6.jpg" class="img-fluid" alt="teacher-member">
                      <div class="overlay">
                          <div class="text">
                              <div>
                                  <h3>Staven joy</h3>
                                  <p>Video Editor</p>
                              </div>
                              <div>
                                  <ul class="text-center">
                                      <li><i class="icofont-facebook"></i></li>
                                      <li><i class="icofont-twitter"></i></li>
                                      <li><i class="icofont-linkedin"></i></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center wow flipInY" data-wow-delay="1.2s">
                  <div class="teacher teacher-member">
                      <img src="../../assets/teacher-image-1.jpg" class="img-fluid" alt="teacher-member">
                      <div class="overlay">
                          <div class="text">
                              <div>
                                  <h3>Nadia Rui</h3>
                                  <p>Android app developer</p>
                              </div>
                              <div>
                                  <ul class="text-center">
                                      <li><i class="icofont-facebook"></i></li>
                                      <li><i class="icofont-twitter"></i></li>
                                      <li><i class="icofont-linkedin"></i></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center wow flipInY" data-wow-delay="1.4s">
                  <div class="teacher teacher-member">
                      <img src="../../assets/teacher-image-8.jpg" class="img-fluid" alt="teacher-member">
                      <div class="overlay">
                          <div class="text">
                              <div>
                                  <h3>Staven joy</h3>
                                  <p>Php developer</p>
                              </div>
                              <div>
                                  <ul class="text-center">
                                      <li><i class="icofont-facebook"></i></li>
                                      <li><i class="icofont-twitter"></i></li>
                                      <li><i class="icofont-linkedin"></i></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--End Our teacher -->
<!--=================================================================================
                                Start pricing section
    ==================================================================================-->
    <section id="eduservices-pricing" class="ptb-100">
      <div class="container">
          <div class="section-title">
              <h2>Affordable Packages</h2>
              <span>A modern and unique style</span>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6 reveal-left-fade wow fadeInLeft" data-wow-delay="0.2s" data-wow-offset="400">
                  <div class="single-pricing-table">
                      <div class="pricing-table-plan">
                          <h3>STANDARD</h3>
                      </div>
                      <div class="pricing-table-content">
                          <div class="pricing-content-price">
                              <sup>$</sup>
                              <strong>99</strong>
                              <sub>/month</sub>
                          </div>
                          <ul class="list-item">
                              <li><i class="fa fa-check"></i> 100 MB Disk Space</li>
                              <li><i class="fa fa-check"></i> 2 Subdo mains</li>
                              <li><i class="fa fa-check"></i> 5 Email Accounts</li>
                              <li><i class="fa fa-times"></i> No License</li>
                              <li><i class="fa fa-times"></i> Phone &amp; Mail Support</li>
                          </ul>
                          <div class="pricing-content-btn">
                              <a class="btn" href="#">Choose Plan</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="400">
                  <div class="single-pricing-table single-pricing-center reveal-bottom-fade">
                      <div class="pricing-table-plan">
                          <h3>BUSINESS</h3>
                      </div>
                      <div class="pricing-table-content">
                          <div class="pricing-content-price">
                              <sup>$</sup>
                              <strong>199</strong>
                              <sub>/month</sub>
                          </div>
                          <ul class="list-item">
                              <li><i class="fa fa-check"></i> 100 MB Disk Space</li>
                              <li><i class="fa fa-check"></i> 2 Subdo mains</li>
                              <li><i class="fa fa-check"></i> 5 Email Accounts</li>
                              <li><i class="fa fa-times"></i> No License</li>
                              <li><i class="fa fa-times"></i> Phone &amp; Mail Support</li>
                          </ul>
                          <div class="pricing-content-btn">
                              <a class="btn" href="#">Choose Plan</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 reveal-right-fade wow fadeInRight" data-wow-delay="0.2s" data-wow-offset="400">
                  <div class="single-pricing-table">
                      <div class="pricing-table-plan">
                          <h3>PREMIUM</h3>
                      </div>
                      <div class="pricing-table-content">
                          <div class="pricing-content-price">
                              <sup>$</sup>
                              <strong>350</strong>
                              <sub>/month</sub>
                          </div>
                          <ul class="list-item">
                              <li><i class="fa fa-check"></i> 100 MB Disk Space</li>
                              <li><i class="fa fa-check"></i> 2 Subdo mains</li>
                              <li><i class="fa fa-check"></i> 5 Email Accounts</li>
                              <li><i class="fa fa-times"></i> No License</li>
                              <li><i class="fa fa-times"></i> Phone &amp; Mail Support</li>
                          </ul>
                          <div class="pricing-content-btn">
                              <a class="btn" href="#">Choose Plan</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End pricing section -->



 <!--=================================================================================
                                Start Fun Facts Area
    ==================================================================================-->
    <section id="eduservices-fun-facts" class="fun-facts-area ptb-100">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-6 wow fadeInUp" data-wow-delay=".2s">
                  <div class="funFact">
                      <i class="icofont-teacher"></i>
                      <h3 class="count">55</h3>
                      <span>Teachers</span>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 col-6 wow fadeInUp" data-wow-delay=".4s">
                  <div class="funFact">
                      <i class="icofont-document-folder"></i>
                      <h3 class="count">65</h3>
                      <span>Courses</span>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 col-6 wow fadeInUp" data-wow-delay=".6s">
                  <div class="funFact">
                      <i class="icofont-users-alt-2"></i>
                      <h3 class="count">1100</h3>
                      <span>Members</span>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 col-6 wow fadeInUp" data-wow-delay=".8s">
                  <div class="funFact">
                      <i class="icofont-flag-alt-2"></i>
                      <h3 class="count">15</h3>
                      <span>Countries</span>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End Fun Facts Area -->



  <!--=================================================================================
                                Start recent Blog
    ==================================================================================-->
    <section id="eduservices-blog" class="recent-blog-section ptb-100">
      <div class="container">
          <div class="section-title">
              <h2>Recent News</h2>
              <span>A modern and unique style</span>
          </div>
      </div>
      <div class="container news-grids   ">
         <div class="row">
          <div class="col-md-4 grid">
            <div class="entry-media">
                <img src="../../assets/img-1.jpg" alt>
            </div>
            <div style="width: 350px;" class="entry-details">
                <ul>
                    <li><a href="#"><i class="icofont-user-suited"></i> 15 July 2019</a></li>
                    <li><a href="#"><i class="icofont-ui-clock"></i> 18 Nov 2019</a></li>
                </ul>
                <h3><a href="#">Education can Change Your Life! So go ahead.</a></h3>

            </div>
        </div>
        <div class="col-md-4 grid">
          <div class="entry-media">
              <img src="../../assets/img-1.jpg" alt>
          </div>
          <div style="width: 350px;" class="entry-details">
              <ul>
                  <li><a href="#"><i class="icofont-user-suited"></i> 15 July 2019</a></li>
                  <li><a href="#"><i class="icofont-ui-clock"></i> 18 Nov 2019</a></li>
              </ul>
              <h3><a href="#">Education can Change Your Life! So go ahead.</a></h3>

          </div>
      </div>
      <div class="col-md-4 grid">
        <div class="entry-media">
            <img src="../../assets/img-1.jpg" alt>
        </div>
        <div style="width: 350px;" class="entry-details">
            <ul>
                <li><a href="#"><i class="icofont-user-suited"></i> 15 July 2019</a></li>
                <li><a href="#"><i class="icofont-ui-clock"></i> 18 Nov 2019</a></li>
            </ul>
            <h3><a href="#">Education can Change Your Life! So go ahead.</a></h3>

        </div>
    </div>
         </div>
      </div>
  </section>
  <!-- end recent blog -->

 <!--=================================================================================
                                Start Contact Area
    ==================================================================================-->
    <section id="eduservices-contact" class="contact-area ptb-100">
      <div class="container">
          <div class="section-title">
              <h2>Contact Us</h2>
              <span>Do you have any Questions?</span>
          </div>

          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="contact-box">
                      <h3><i class="icofont-google-map"></i> Address</h3>
                      <p><a href="https://www.google.com/maps/place/Patricia+Place/@47.6645652,-122.3126476,17z/data=!3m1!4b1!4m5!3m4!1s0x5490148a006afc3f:0x402dac2b0403f941!8m2!3d47.6645616!4d-122.3104589" target="_blank"> Patricia Place, <br> 16th Avenue Northeast, USA </a></p>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6">
                  <div class="contact-box">
                      <h3><i class="icofont-envelope"></i> Email</h3>
                      <p><a href="#">info@business.com</a></p>
                      <p><a href="#">support@business.com</a></p>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                  <div class="contact-box">
                      <h3><i class="icofont-phone"></i> Phone</h3>
                      <p><a href="#">+1 (424) 652-5294</a></p>
                      <p><a href="#">+1 (424) 652-5282.</a></p>
                  </div>
              </div>

              <div class="col-lg-4 col-md-12">
                  <div class="get-in-touch">
                      <h3>Get in Touch</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                  </div>
              </div>

              <div class="col-lg-8 col-md-12 wow rotateIn" data-wow-offset="10" data-wow-duration="1.5s">
                  <!-- <form id="contactForm"> -->
                  <form method="post" action="assets/bin/mailer.php" class="contactForm" id="ajax-contact">
                      <div class="row">
                          <div class="col-lg-6 col-md-6">
                              <div class="form-group">
                                  <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                              </div>
                          </div>

                          <div class="col-lg-6 col-md-6">
                              <div class="form-group">
                                  <input type="email" class="form-control" name="email" id="email" placeholder="Email address" autocomplete="off">
                              </div>
                          </div>

                          <div class="col-lg-12 col-md-12">
                              <div class="form-group">
                                  <textarea name="message" class="form-control" cols="30" rows="4" name="message" id="message" placeholder="Enter your message" autocomplete="off"></textarea>
                              </div>
                          </div>

                          <div class="col-lg-12 col-md-12">
                              <button type="submit" class="contact-btn btn">Send Message</button>
                              <!--Result notification -->
                              <div id="error-message" class="text-center"></div>
                              <div id="form-messages"></div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
  <!-- End Contact Area -->

  <!--=================================================================================
       START FOOTER
==================================================================================-->


